:root{
/* Color */
--White-color:#fff;
--black-color:#202020;
--blue-color:#045fd4;
--red-color:#ff0000;
--gray-dark-color:#909090;
--gray-light-color:#e0e0e0;
--border-color:#303030;
/* Size */
--padding: 12px;
--avatar-size: 36px;
/*Font Size*/
--font-large: 20px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body{
    font-family: Roboto;
    
}
*/
ul{
    list-style: none;
}

button,
button:focus{
    border:none;
    cursor: pointer;
    outline: none;
    background-color: var(--black-color);
    color:var(--White-color);
    
}
/* Header*/
header{
    display:flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color:var(--White-color);
}

header.logo{
    font-size:var(--font-large);
}

header .logo i {
    color: var(--red-color);
}
header .icons .fa-magnifying-glass{
   margin-right: var(--padding);
}

/*Video Player*/
.player{
    /*position: sticky;*/
    top:0;
    text-align: center;
    background-color:var(--black-color);
}



.player video{
    width: 100%;
    height: 90%;
    
    
}
body {
    
    padding: var(--padding);
    background-color:var(--black-color);
    
}
.info .metadeta .hashtag{
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
    }
.info .metadeta .hashtag li{
    margin-right:var(--padding);    
}

.info .metadeta .titleAndButton {
    display: flex;
}

.info .metadeta .infotitle {
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);   
    color:var(--White-color);
}
.info .metadeta .views{
    color:var(--gray-dark-color);
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}
.info .metadeta .titleAndButton .moreButton{
    height: 100%;
    

}






.action{
    display: flex;
    justify-content: flex-end;
    margin:var(--padding);
    
    
}
.action button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-small);
    margin-right: var(--padding);
    color:var(--gray-light-color);
}

.action button i {
    margin-right: var(--padding);
    
}

/* Channel Description */

.channel {
    display: flex;
    justify-content: space-between;
    border-top :1px solid var(--border-color);
    border-bottom :1px solid var(--border-color);
}




.channel .metadeta {
    display: flex ;
    align-items: center;
}

.channel .metadeta img {
    width: 48px;
    height: 48px;
    border-radius:50% ;
}

.channel .metadeta .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.channel .info .name {
    display: flex;
    color:var(--White-color);
    justify-content: flex-start;
    font-size: var(--font-small);
}

.channel .info .subscriber {
    color: var(--gray-dark-color);
    font-size: var(--font-micro);

}

.channel .info .plusinfo{

    display: flex;
    color:var(--White-color);
    justify-content: flex-start;
    font-size: var(--font-small);

}

.channel .subscriber2 {
    display: flex;

}

.channel button {
    margin-right: var(--padding);
}



.upnext {
    background-color: var(--black-color);
    color:var(--White-color);
    padding: var(--padding);
}

.upnext > .title{
    color: var(--gray-dark-color);
    margin-bottom: var(--padding);
}



.upnext .item {
    display: flex;
    margin-top:var(--padding);
}

.upnext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upnext .item .img img{

    width: 100%;
}

.upnext .item .info {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

.upnext .item .moreBtn{
    height: 100%;
    flex: 1 1 5%;
} 

.upnext .item .title{
    display: flex;
    color:var(--White-color);
    font-size: var(--font-large);
}
.upnext .item .name{
    display: flex;
    color: var(--gray-dark-color);
    font-size: var(--font-medium);
}

.upnext .item .views{
    
    display: flex;
    color: var(--gray-dark-color);
    font-size: var(--font-medium);


}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext{
        flex-direction: row;
        margin: var(--padding);
    }
    
}